//colors
$clr-white: #fff;
$clr-grey-900: #2a4144;
$clr-grey-500: #86a2a5;
$clr-green-600: #0c7d69;
$clr-green-600-dark: #063e34;
$clr-green-200: #e0f1e8;
$clr-red: #d73c3c;

//typography
$fs-16: 1rem;
$fs-18: 1.5rem;
$fs-32: 2rem;

$fw-400: 400;
$fw-700: 700;

$lh-1: 1;

//spacing
$space-8: 8px;
$space-12: 12px;
$space-16: 16px;
$space-24: 24px;
$space-32: 32px;
$space-40: 40px;
$space-128: 128px;

//border radius
$radius-3: 3px;
$radius-8: 8px;
$radius-12: 12px;
$radius-16: 16px;
$radius-circle: 50%;

//transition
$transition: 0.5s ease-in-out;

body {
  background-color: $clr-green-200;
  color: $clr-grey-900;
  display: grid;
  font-size: $fs-16;
  place-items: center;
}

.form {
  background-color: $clr-white;
  border-radius: $radius-16;
  display: grid;
  gap: $space-24 $space-16;
  grid-template-areas:
    "title"
    "firstName"
    "lastName"
    "emailAddress"
    "queryType"
    "message"
    "consent"
    "submitButton";
  padding: clamp($space-24, 5vw, $space-40);
  width: min(90vw, 736px);

  &-title {
    font-size: $fs-32;
    font-weight: $fw-700;
    grid-area: title;
    letter-spacing: -1px;
    line-height: $lh-1;
    margin-bottom: $space-8;
  }

  &-group {
    display: grid;
    gap: $space-8;

    &-first-name {
      grid-area: firstName;
    }
    &-last-name {
      grid-area: lastName;
    }
    &-email-address {
      grid-area: emailAddress;
    }
    &-query-type {
      grid-area: queryType;
    }
    &-message {
      grid-area: message;
    }
    &-consent {
      grid-area: consent;
    }

    &-flex {
      display: flex;
      align-items: center;
      gap: $space-12;
    }
  }

  &-label {
    cursor: pointer;
  }

  &-input {
    border: 1px solid $clr-grey-500;
    border-radius: $radius-8;
    color: $clr-grey-900;
    cursor: pointer;
    font-size: $fs-18;
    padding: $space-12 $space-24;
    position: relative;
    width: 100%;

    &:hover,
    &:focus {
      border-color: $clr-green-600;
    }

    &-radio,
    &-checkbox {
      -webkit-appearance: none;
      appearance: none;
      border: 2px solid $clr-grey-500;
      cursor: pointer;
      display: grid;
      place-items: center;
      position: relative;
      flex-shrink: 0;
      width: 18px;
      height: 18px;
    }

    &-radio {
      border-radius: $radius-circle;

      &::after {
        background-color: $clr-green-600;
        border-radius: $radius-circle;
        content: "";
        height: 60%;
        position: absolute;
        scale: 0;
        width: 60%;
      }

      &:checked {
        border-color: $clr-green-600;

        &::after {
          scale: 1;
        }
      }
    }

    &-checkbox {
      border-radius: $radius-3;

      &:checked {
        background-color: $clr-green-600;
        border-color: $clr-green-600;

        &::after {
          border: solid $clr-white;
          border-width: 0 3px 3px 0;
          content: "";
          height: 12px;
          position: absolute;
          rotate: 45deg;
          width: 6px;
        }
      }
    }

    &-textarea {
      height: 240px;
      resize: none;

      &:hover,
      &:focus {
        border-color: $clr-green-600;
      }
    }

    &-error-message {
      color: $clr-red;
    }
  }

  &-fieldset {
    border: none;
    display: grid;
    gap: $space-16;
    grid-template-areas:
      "legend"
      "enquiry"
      "support";

    &-legend {
      grid-area: legend;
    }

    &-option {
      display: flex;
      align-items: center;
      border: 1px solid $clr-grey-500;
      border-radius: $radius-8;
      gap: $space-12;
      padding: $space-12 $space-24;

      &:hover,
      &:focus {
        border-color: $clr-green-600;
      }

      &-enquiry {
        grid-area: enquiry;
      }
      &-support {
        grid-area: support;
      }
    }
  }

  &-button {
    background-color: $clr-green-600;
    border: none;
    border-radius: $radius-8;
    color: $clr-white;
    font-weight: $fw-700;
    grid-area: submitButton;
    padding-block: $space-16;
    transition: background-color $transition;

    &:hover,
    &:focus-visible {
      background-color: $clr-green-600-dark;
    }

    &:disabled {
      background-color: $clr-grey-500;
    }
  }

  &-toast-container {
    display: none;
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    padding: $space-24;
    place-items: center;
    z-index: 100;
  }

  &-toast-container.active {
    display: grid;
  }

  &-toast {
    animation-name: dropDown;
    animation-duration: 2s;
    background-color: $clr-green-600-dark;
    border-radius: $radius-12;
    color: $clr-white;
    display: grid;
    gap: $space-8;
    position: relative;
    padding: $space-24;

    &-heading {
      display: flex;
      flex-wrap: wrap;
      font-size: $fs-18;
      gap: $space-8;
    }

    &-paragraph {
      color: $clr-green-200;
    }

    @keyframes dropDown {
      0% {
        top: -250%;
      }
      100% {
        top: 0%;
      }
    }
  }
}

.is-required::after {
  color: $clr-green-600;
  content: "*";
  margin-left: $space-8;
}

// error
.invalidInput {
  border-color: $clr-red;
}

// >=768px
@media (min-width: 48em) {
  .form {
    grid-template-areas:
      "title title"
      "firstName lastName"
      "emailAddress emailAddress"
      "queryType queryType"
      "message message"
      "consent consent"
      "submitButton submitButton";
    grid-template-columns: repeat(2, 1fr);

    &-fieldset {
      grid-template-areas:
        "legend legend"
        "enquiry support";
      grid-template-columns: repeat(2, 1fr);
    }

    &-input-radio,
    &-input-checkbox {
      width: 24px;
      height: 24px;
    }

    &-textarea {
      height: 105px;
    }
  }
}
