:root {
  /* colors */

  --clr-white: #fff;
  --clr-blue-950: #0d192c;
  --clr-blue-900: #15263f;
  --clr-blue-800: #2e405a;
  --clr-blue-500: #8bacd9;
  --clr-cyan-400: #00fff8;

  /* typograhy */

  --fs-16: 1rem; /* 16px */
  --fs-18: 1.125rem; /* 18px */
  --fs-22: 1.375rem; /* 22px */

  --fw-300: 300; /* light */
  --fw-400: 400; /* regular */
  --fw-600: 600; /* semibold */

  --lh-125: 1.25;
  --lh-145: 1.45;

  /* spacing */

  --space-8: 8px;
  --space-16: 16px;
  --space-24: 24px;

  /* border radius */

  --radius-8: 8px;
  --radius-15: 15px;

  /* transition */

  --transition: 0.5s ease-in-out;
}

a {
  color: var(--clr-white);
  transition: color var(--transition);
}

body {
  background-color: var(--clr-blue-950);
  display: grid;
  font-size: var(--fs-16);
  line-height: var(--lh-125);
  place-items: center;
}

.card {
  background-color: var(--clr-blue-900);
  border-radius: var(--radius-15);
  box-shadow: 0 25px 50px 0 #00000018;
  padding: var(--space-24);
  width: min(350px, 90vw);
}

.card__image {
  border-radius: var(--radius-8);
  display: block;
  margin-bottom: var(--space-24);
  overflow: hidden;
  position: relative;
}

.card__title {
  font-size: var(--fs-22);
  font-weight: var(--fw-600);
  margin-bottom: var(--space-16);
}

.card__title a {
  text-decoration: none;
}

.card__description {
  color: var(--clr-blue-500);
  font-size: var(--fs-18);
  font-weight: var(--fw-300);
  line-height: var(--lh-145);
  margin-bottom: var(--space-24);
}

.card__info {
  justify-content: space-between;
}

.card__info,
.card__info > div {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-8);
}

.card__info-price img,
.card__info-time img {
  align-self: center;
}

.card__info-price p {
  color: var(--clr-cyan-400);
  font-weight: var(--fw-600);
}

.card__info-time p {
  color: var(--clr-blue-500);
  font-weight: var(--fw-400);
}

.card__divider {
  border-color: var(--clr-blue-800);
  margin-block: var(--space-16);
}

.card__creator {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-16);
}

.card__creator-avatar {
  aspect-ratio: 1;
  border: 1px solid var(--clr-white);
  border-radius: 50%;
  width: 33px;
}

.card__creator-text {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-8);
}

.card__creator-label {
  color: var(--clr-blue-500);
}

.card__creator-name {
  font-size: inherit;
  font-weight: var(--fw-400);
}

.card__creator-name a {
  text-decoration: none;
}

/* active states */

.card__image::before,
.card__image::after {
  opacity: 0;
  position: absolute;
  transition: opacity var(--transition);
}

.card__image::before {
  background-color: var(--clr-cyan-400);
  content: "";
  inset: 0;
  z-index: 100;
}

.card__image::after {
  content: url(../../assets/images/icon-view.svg);
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  z-index: 200;
}

.card__image:focus::before,
.card__image:hover::before,
.card__image:focus-within::before {
  opacity: 0.5;
}

.card__image:focus::after,
.card__image:hover::after,
.card__image:focus-within::after {
  opacity: 1;
}

a:hover,
a:focus,
a:active {
  color: var(--clr-cyan-400);
}
